@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-v30-latin-regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
        url('../fonts/roboto-v30-latin-700.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2'),
        url('../fonts/play-v19-latin-regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2'),
        url('../fonts/play-v19-latin-700.ttf') format('truetype');
}

:root {
    --color-primary-light: #FFFFFF;
    --color-primary-medium: #2B7FFF;
    --color-primary-dark: #011C44;
    --color-secondary-grey: #4A4A4A;
    --color-secondary-light-grey: #747272;
    --color-secondary-navy: #011F4A;
    --color-secondary-yellow: #FFD02B;
}

/* Base */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: var(--color-primary-dark);
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header */

.header-nav-link {
    color: inherit;
    font-size: 18px;
}

.header-nav-link:hover {
    color: var(--color-primary-medium);
    font-weight: 700;
}

/* Hero section */

.hero-name {
    font-family: 'Play', sans-serif;
    font-size: 140px;
    font-weight: 700;
    color: var(--color-primary-medium);
    text-transform: capitalize;
    line-height: 0.8;
}

.button {
    color: var(--color-primary-light);
    font-size: 18px;
    font-weight: 700;
    background-color: var(--color-primary-medium);
    border: none;
    cursor: pointer;
    border-radius: 32px;
}

.button:hover {
    color: var(--color-primary-dark);
    background-color: transparent;
    border: 2px solid var(--color-primary-medium);
}

.hero-text {
    color: var(--color-secondary-grey);
    font-size: 12px;
    line-height: 1.5;
}

/* Advantages section */

.section-title {
    color: var(--color-primary-dark);
    font-family: 'Play', sans-serif;
    font-size: 64px;
    font-weight: 700;
}

.section-title span {
    color: var(--color-primary-medium);
}

/* About us section */

.about-us-text {
    font-size: 22px;
    line-height: 1.7;
}

.about-us-text span {
    font-weight: 700;
}

/* Advantages section */

.advantages-title {
    color: #000;
    text-align: center;
    font-weight: 400;
}

/* Procedures section */

.procedures-title {
    color: var(--color-primary-light);
    font-weight: 400;
    font-size: 22px;
    line-height: 1.1;
    text-align: center;
}

/* Footer */

.footer {
    background-color: var(--color-secondary-navy);
}

.footer-nav-link {
    font-size: 16px;
    color: var(--color-primary-light);
}

.footer-nav-link:hover {
    font-size: 18px;
    color: var(--color-primary-medium);
}

.address-copyright {
    font-size: 13px;
    color: var(--color-secondary-light-grey);
}